export(asBFDateTime)
export(bfBet)
export(bfBetUpdate)
export(bfInitClasses)
export(bfLogin)
export(bfLogout)
export(bfSessionHandler)
export(bfSessionToken)
export(cancelBets)
export(cancelBetsByMarket)
export(getAccountFunds)
export(getAccountStatement)
export(getActiveEventTypes)
export(getAllEventTypes)
export(getAllMarkets)
export(getBet)
export(getBetHistory)
export(getBetLite)
export(getBetMatchesLite)
export(getCompleteMarketPricesCompressed)
export(getEvents)
export(getMUBets)
export(getMUBetsLite)
export(getMarket)
export(getMarketInfo)
export(getMarketPrices)
export(getMarketPricesCompressed)
export(getMarketProfitAndLoss)
export(getMarketTradedVolume)
export(getMarketTradedVolumeCompressed)
export(getSubscriptionInfo)
export(keepAlive)
export(placeBets)
export(transferFunds)
export(updateBets)
export(viewProfile)
exportClasses(betfair)
exportClasses(bfSimpleOutput)
exportClasses(bfSimpleOutputDF)
exportClasses(bfSimpleOutputList)
